<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myq.epidemic.setting.mapper.UserMapper">

    <resultMap type="com.myq.epidemic.setting.entity.User" id="UserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="cellphone" column="cellphone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="headImg" column="head_img" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="INTEGER"/>
        <result property="role" column="role" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
<!--    <select id="queryById" resultMap="UserMap">-->
<!--        select-->
<!--          id, username, password, name, cellphone, email, head_img, sex, role-->
<!--        from user-->
<!--        where id = #{id}-->
<!--    </select>-->

    <!--查询指定行数据-->
<!--    <select id="queryAllByLimit" resultMap="UserMap">-->
<!--        select-->
<!--          id, username, password, name, cellphone, email, head_img, sex, role-->
<!--        from user-->
<!--        <where>-->
<!--            <if test="id != null">-->
<!--                and id = #{id}-->
<!--            </if>-->
<!--            <if test="username != null and username != ''">-->
<!--                and username = #{username}-->
<!--            </if>-->
<!--            <if test="password != null and password != ''">-->
<!--                and password = #{password}-->
<!--            </if>-->
<!--            <if test="name != null and name != ''">-->
<!--                and name = #{name}-->
<!--            </if>-->
<!--            <if test="cellphone != null and cellphone != ''">-->
<!--                and cellphone = #{cellphone}-->
<!--            </if>-->
<!--            <if test="email != null and email != ''">-->
<!--                and email = #{email}-->
<!--            </if>-->
<!--            <if test="headImg != null and headImg != ''">-->
<!--                and head_img = #{headImg}-->
<!--            </if>-->
<!--            <if test="sex != null">-->
<!--                and sex = #{sex}-->
<!--            </if>-->
<!--            <if test="role != null">-->
<!--                and role = #{role}-->
<!--            </if>-->
<!--        </where>-->
<!--        limit #{pageable.offset}, #{pageable.pageSize}-->
<!--    </select>-->

    <!--统计总行数-->
<!--    <select id="count" resultType="java.lang.Long">-->
<!--        select count(1)-->
<!--        from user-->
<!--        <where>-->
<!--            <if test="id != null">-->
<!--                and id = #{id}-->
<!--            </if>-->
<!--            <if test="username != null and username != ''">-->
<!--                and username = #{username}-->
<!--            </if>-->
<!--            <if test="password != null and password != ''">-->
<!--                and password = #{password}-->
<!--            </if>-->
<!--            <if test="name != null and name != ''">-->
<!--                and name = #{name}-->
<!--            </if>-->
<!--            <if test="cellphone != null and cellphone != ''">-->
<!--                and cellphone = #{cellphone}-->
<!--            </if>-->
<!--            <if test="email != null and email != ''">-->
<!--                and email = #{email}-->
<!--            </if>-->
<!--            <if test="headImg != null and headImg != ''">-->
<!--                and head_img = #{headImg}-->
<!--            </if>-->
<!--            <if test="sex != null">-->
<!--                and sex = #{sex}-->
<!--            </if>-->
<!--            <if test="role != null">-->
<!--                and role = #{role}-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->

    <!--新增所有列-->
<!--    <insert id="insert" keyProperty="id" useGeneratedKeys="true">-->
<!--        insert into user(username, password, name, cellphone, email, head_img, sex, role)-->
<!--        values (#{username}, #{password}, #{name}, #{cellphone}, #{email}, #{headImg}, #{sex}, #{role})-->
<!--    </insert>-->

<!--    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">-->
<!--        insert into user(username, password, name, cellphone, email, head_img, sex, role)-->
<!--        values-->
<!--        <foreach collection="entities" item="entity" separator=",">-->
<!--        (#{entity.username}, #{entity.password}, #{entity.name}, #{entity.cellphone}, #{entity.email}, #{entity.headImg}, #{entity.sex}, #{entity.role})-->
<!--        </foreach>-->
<!--    </insert>-->

<!--    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">-->
<!--        insert into user(username, password, name, cellphone, email, head_img, sex, role)-->
<!--        values-->
<!--        <foreach collection="entities" item="entity" separator=",">-->
<!--            (#{entity.username}, #{entity.password}, #{entity.name}, #{entity.cellphone}, #{entity.email}, #{entity.headImg}, #{entity.sex}, #{entity.role})-->
<!--        </foreach>-->
<!--        on duplicate key update-->
<!--        username = values(username),-->
<!--        password = values(password),-->
<!--        name = values(name),-->
<!--        cellphone = values(cellphone),-->
<!--        email = values(email),-->
<!--        head_img = values(head_img),-->
<!--        sex = values(sex),-->
<!--        role = values(role)-->
<!--    </insert>-->

    <!--通过主键修改数据-->
<!--    <update id="update">-->
<!--        update user-->
<!--        <set>-->
<!--            <if test="username != null and username != ''">-->
<!--                username = #{username},-->
<!--            </if>-->
<!--            <if test="password != null and password != ''">-->
<!--                password = #{password},-->
<!--            </if>-->
<!--            <if test="name != null and name != ''">-->
<!--                name = #{name},-->
<!--            </if>-->
<!--            <if test="cellphone != null and cellphone != ''">-->
<!--                cellphone = #{cellphone},-->
<!--            </if>-->
<!--            <if test="email != null and email != ''">-->
<!--                email = #{email},-->
<!--            </if>-->
<!--            <if test="headImg != null and headImg != ''">-->
<!--                head_img = #{headImg},-->
<!--            </if>-->
<!--            <if test="sex != null">-->
<!--                sex = #{sex},-->
<!--            </if>-->
<!--            <if test="role != null">-->
<!--                role = #{role},-->
<!--            </if>-->
<!--        </set>-->
<!--        where id = #{id}-->
<!--    </update>-->

    <!--通过主键删除-->
<!--    <delete id="deleteById">-->
<!--        delete from user where id = #{id}-->
<!--    </delete>-->

    <select id="selectByPage" parameterType="com.myq.epidemic.setting.entity.User"
            resultMap="UserMap" >
        select *
        from user as u
        <where>
            <if test="param.name != null and param.name != '' ">
                and u.name like CONCAT('%', #{param.name}, '%')
            </if>
            <if test="param.sex != null ">
                and u.sex = #{param.sex}
            </if>
            <if test="param.role != null ">
                and u.role = #{param.role}
            </if>
        </where>
    </select>

    <update id="updateId" parameterType="com.myq.epidemic.setting.model.dto.UserDTO">
        update user
        <set>
            <if test="param.username != null and param.username != '' ">
                username = #{param.username} ,
            </if>
            <if test="param.password != null and param.password != '' ">
                password = #{param.password} ,
            </if>
            <if test="param.name != null and param.name != '' ">
                name = #{param.name} ,
            </if>
            <if test="param.cellphone != null and param.cellphone != '' ">
                cellphone = #{param.cellphone} ,
            </if>
            <if test="param.email != null and param.email != '' ">
                email = #{param.email} ,
            </if>
            <if test="param.headImg != null and param.headImg != '' ">
                head_img = #{param.headImg} ,
            </if>
            <if test="param.sex != null ">
                sex = #{param.sex} ,
            </if>
            <if test="param.role != null ">
                role = #{param.role} ,
            </if>
        </set>
        <where>
            <if test="param.id != null">
                and id = #{param.id}
            </if>
        </where>
    </update>


</mapper>

